{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Shows Search{% endblock %}
{% block content %}
    <h3>Number of search results for "{{ search_term }}": {{ results.count }}</h3>
    <ul class="items">
        {% for show in results.data %}
            <li>
                <div>
                    <i class="fas fa-music"></i>
                    Show # {{ show.id }}
                    <br>
                    <i class="fas fa-calendar"></i>
                    {{ show.start_time }}
                    <div class="item">
                        <h5>Artist : {{ show.artist_name }}</h5>
                        <h5>Venue : {{ show.venue_name }}</h5>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
